body{
  background: gray;
}

img  {
  border-radius: 50%;
  width: 250px;
  height: 300px;
}

#title, .subtitle, .post-title{
  color: blue;
}

.post-title{
  font-size: 16px;
  font-style: italic;
}

.post{
  background:white ;
  padding: 10px; /*top,direita,bot,esquerda*/
  border: 3px solid #000;
  margin: 10px;
}